/* .ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.li_a {
  float: left;
  text-decoration: none;
  padding: 1%;
  
}

.li_a:hover:not(.active) {
  border-bottom: 4px solid #fdd831;
  text-decoration: none;
  color: black !important;

}

.active {
  border-bottom: 4px solid #fdd831 !important;
  text-decoration: none;
}

.li_a {
  display: block;
  color: #7e7e7e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 0px solid yellow;
  transition: .5s;
}

.li_button{
  background-color: #fdd831;
  border-radius: 50px;
}
.li_button:hover{
  border: 0px solid black !important;
} */
