/* .clear_float{
    clear: both;
}

.float_left{
    float: left;
}

.padding_extreme{
    padding: 3% 20%;
}

.background_232323{
    background-color: #232323;
}

.foot_height{
    height: 20vh;
}

.font_white{
    color: white;
}

a{
    text-decoration: none !important;
    color: #7b7b7b !important;
    transition: .5s;
}

a:hover{
    color: white !important;
}

.margin_top{
    margin-top: 5%;
} */