.root{
  height: 100vh;
}
/* .App{
  width: 100%;
} */

.div_red{
  background-color: #d42752;
}

.overflow{
  overflow: hidden;
}

.float_left{
  float: left;
}

.float_right{
  float:right;
}

.display_inline{
  display: inline-block;
}

.pad_little{
  padding: 2%;
}

.pad_more{
  padding: 5%;
}

.pad_extreme{
  padding: 10%;
}

.pad_extreme_custom{
  padding: 0% 10%;
  
}

.pad_side{
  padding: 0% 2%;
}


.margin_little{
  margin-top: 5%;
}

.whitetxt{
  color: white;
  font-size: 30px;
}

.whitetxt_small{
  color: white;
}

.yellowtxt{
  color: #fdd831;
  font-size: 20px;
}

.yellowtxt_large{
  color: #fdd831;
  font-size: 30px;
}

.black_text_large{
  color: black;
  font-size: 25px;
  font-weight: bold
}

.margin_collapse{
  margin: 0;
}

.margin_little{
  margin: 5%;
}

.dnbtn{
  margin-top: 5%;
  background-color: #fdd831;
  border-radius: 50px;
  text-align: center;
  border: none;
}

.dnbtn:hover{
  box-shadow: 0px 0px 5px 1px #fdd831;
}

@media only screen and (max-width: 850px){

  .font_small_s{
    font-size: 10px;
  }
}

@media only screen and (max-width: 642px){

  .font_large_s{
    font-size: 20px;
  }
}

article{
  color: white;
}

.icon_block{
  width: 60px;
  height: 60px;
}

.bg_cream{
  background-color: #fffef9;
}

.border_radius{
  border-radius: 10px;
}

.border_remove_bottom{
  border-bottom: 0px solid white;
}

.inline_block{
  display: inline-block;
}

.margin_elevate{
  position: relative;
  top: -100px;
  background-color: white;
}

.clear_float{
  clear: both;
}

/* a:hover{
  color: black !important;
} */

/* 
.pad_top{
  padding-top: 10%;
} */